<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
                       <section name="Engine.Core.Application" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <applicationSettings>
        <Engine.Core.Application>
            <setting name="OWMAPIKey" serializeAs="String">
                <value>e6e48c70fe025013c0c4fdf06cc9b7d3</value>
            </setting>
        </Engine.Core.Application>
    </applicationSettings>
</configuration>