<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="PADesktopUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
                       <section name="PADesktopUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
                   </sectionGroup>
    </configSections>
    <userSettings>
        <PADesktopUI.Properties.Settings>
            <setting name="PinCode" serializeAs="String">
                <value>122004</value>
            </setting>
            <setting name="CountryCode" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="TemperatureUnit" serializeAs="String">
                <value>Celsius</value>
            </setting>
            <setting name="VoiceName" serializeAs="String">
                <value>Microsoft Hemant</value>
            </setting>
            <setting name="VoiceGender" serializeAs="String">
                <value>Female</value>
            </setting>
            <setting name="VoiceRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VoiceVolume" serializeAs="String">
                <value>100</value>
            </setting>
        </PADesktopUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PADesktopUI.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Ramesh</value>
            </setting>
        </PADesktopUI.Properties.Settings>
    </applicationSettings>
               </configuration>